body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
p, span, div {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.header {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1000;
}



.Header_Left {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    margin: 0 25px;
}

.Header_Left a {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 15px;

    transition: color 0.65s ease;
}


.Header_Left a img {
    width: 55px;
    height: 100%;
    margin: 0 1px;
}

.Header_Left a img:hover {
    color: red;
}

.Header_Left a:hover {
    color: red;
}

.Header_Top {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 100%;
}

.Header_Top li a {
    position: relative;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 17px;
    margin: 0 15px;

    padding: 7px 40px;
    border-radius: 20px;
}

/* khung border ẩn */
.Header_Top li a::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 0, 0.741);

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.35s ease;
}

/* hover → border tràn ra */
.Header_Top li a:hover::before {
    transform: scaleX(1);
}

/* màu chữ hover */
.Header_Top li a:hover {
    color: rgba(255, 255, 0, 0.741);
}


.Header_Right {
    display: flex;
    align-items: center;
    margin: 0 25px;
    gap: 15px;
}

.Header_Right button {
    position: relative;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    color: white;
    background-color: black;

    border: none;
    /* bỏ border cũ */
    border-radius: 20px;

    padding: 7px 15px;
    cursor: pointer;
    overflow: hidden;

    transition: color 0.3s ease;
}

/* border ẩn */
.Header_Right button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 0, 0.741);

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.35s ease;
}

/* hover → border tràn */
.Header_Right button:hover::before {
    transform: scaleX(1);
}

.Header_Right button:hover {
    color: rgba(255, 255, 0, 0.741);
}

/* icon */
.Header_Right button i {
    display: flex;
    font-size: 17px;
    margin: 0 30px;
}


#videoPlayer {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Layout_1 {
    position: relative;
    overflow: hidden;
}

.video-slide {
    position: relative;
    width: 100%;
    height: 900px;
}

.video-slide video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.enter-right {
    transform: translateX(100%);
}

.enter-left {
    transform: translateX(-100%);
}

.active {
    transform: translateX(0);
    transition: transform 0.5s ease;
}

.exit-left {
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}

.exit-right {
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    background-color: rgba(59, 72, 25, 0.482);
    z-index: 1000;
}

.dot.active {
    background: #ffffff;
    transform: scale(1.3);
}




.button_Layout_1 {
    position: relative;
    top: -500px;
    display: flex;
}

.button_Layout_1 i {
    position: absolute;
    font-size: 60px;
    border: none;
}

#btnNext {
    right: 10px;
    color: rgba(255, 255, 255, 0.264);
}

#btnBack {
    left: 10px;
    color: rgba(255, 255, 255, 0.264);
}

#btnNext:hover,
#btnBack:hover {
    color: white;
    cursor: pointer;
}

#btnNext:active,
#btnBack:active {
    color: rgba(55, 55, 2, 0.397);
}

.Layout_2 {
    width: 100%;
    height: 1270px;
}

.Layout_2 button {
    position: relative;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    color: white;
    background-color: black;

    border: none;
    /* bỏ border cũ */
    border-radius: 20px;

    padding: 20px 25px;
    cursor: pointer;
    overflow: hidden;

    transition: color 0.3s ease;
    left: 45%;
    top: 0px;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-2px);
    }

    40% {
        transform: translateX(2px);
    }

    60% {
        transform: translateX(-2px);
    }

    80% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0);
    }
}

/* border ẩn */

.Layout_2 button:hover {
    color: rgba(255, 255, 0, 0.741);
    animation: shake 0.35s ease;
}

/* icon */
.Layout_2 button i {
    display: flex;
    font-size: 20px;
}

.Layout_2 h1 {
    font-size: 30px;
    margin: 0 25px;
    margin-top: 1px;
    font-weight: bold;
}

.Layout_2 h1:hover {
    color: rgb(255, 0, 0);
    transition: color 0.65s ease;
}

.video_layout2 {
    width: 100%;
    height: 900px;
    z-index: 1;
    object-fit: cover;
}

.Layout_2 h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin: 0 25px;
    margin-top: 40px;
    font-weight: bold;
}

.Layout_2 h2:hover {
    color: rgb(255, 0, 0);
    transition: color 0.65s ease;
}
.Layout_2 p{
    font-size: 30px;
    margin: 0 25px;
    margin-top: 5px;
}
.icon{
    list-style: none;
    margin: 0 25px;
    font-size: 30px;
}














.Footer {
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.Footer p {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 35px 0;
}


.Footer .img2 {
    width: 170px;
    height: 150px;
}

.Footer .img3 {
    width: 170px;
    height: 110px;
}

.Footer img {
    position: relative;
    left: 38%;
}   